* {
  margin: 0;
  padding: 0;
}

.logo {
  margin: 50px 0 40px 46px;
}

.menu {
  width: 966px;
  height: 40px;
  margin-left: 46px;
  background: rgba(91,91,91,1);
background: -moz-linear-gradient(top, rgba(91,91,91,1) 0%, rgba(69,68,68,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(91,91,91,1)), color-stop(100%, rgba(69,68,68,1)));
background: -webkit-linear-gradient(top, rgba(91,91,91,1) 0%, rgba(69,68,68,1) 100%);
background: -o-linear-gradient(top, rgba(91,91,91,1) 0%, rgba(69,68,68,1) 100%);
background: -ms-linear-gradient(top, rgba(91,91,91,1) 0%, rgba(69,68,68,1) 100%);
background: linear-gradient(to bottom, rgba(91,91,91,1) 0%, rgba(69,68,68,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#454444', GradientType=0 );
}

.menu li {
  display: inline-block;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 9px 36px 6px 36px;
  text-shadow: 1px 1px 1px black;
  height: 24px;
}


.menu li:hover {
  background-color: #3a3a3a;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  cursor: pointer;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.sidebar {
  height: 240px;
  width: 240px;
  margin-left: 46px;
  float: left;
  margin-top: 40px;
}

.sidebar ul  {
  border-right: 8px;
  border: 1px solid #c8c8c8;
  list-style-type: none;

}

.sidebar li a {
  text-decoration: none;
  font-size: 14px;
  color: #656363;
}

.sidebar li {
  font-family: 'Open Sans';
  display: block;
  border-bottom: 1px solid #c8c8c8;
  padding: 12px 12px 12px 22px;
}

.sidebar li:hover {
  padding-left: 36px;
  color: #2c2c2c;
  font-weight: bold;
}

.content {
  display: inline-block;
  margin-top: 40px;
  margin-right: 910px;
  float: right;
}
.Lorem p {
  margin-top: 40px;
  margin-right: 940px;
  width: 624px;
  float: right;
  display: block;
  font-size: 18px;
}

.footer li {
  display:inline-block;
  
}
