body {
  background-color: #f5f3f6;
}
/*HEDEAR*/
.wrapper {
  font-family: tahoma, arial, sans-serif;
}
.container {
  margin: 0px auto 20px;
  width: 1105px;
}

.content {
  padding: 25px 150px 50px;
  font-size: 14px;
}
.title {
  font-size: 40px;
  text-align: center;
}
.i_m img {
  width: 300px;
  height: 260px;
}
.i_m {
  width: 300px;
  margin: 0 auto;
}

.study{
  border-bottom: 2px solid #ccc;
}
/*CONTENT*/

.question {
  border-bottom: 2px solid #ccc;
}
.question p{
  font-size: 18px;
  font-weight: bold;
}

.tel{
  font-size: 30px;
}


.contacts{
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
}
.mycontacts {
  font-size: 18px;
  font-weight: bold;
}
.myphone {
  margin-left: 40px;
}
.vk {
  margin-left: 40px;
}
.myprofile {
  font-size: 18px;
  font-weight: bold;
}
.myfeedback {
  font-size: 18px;
  font-weight: bold;
}
.feedanswer {
  margin-left: 40px;
}
